<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register User</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/css/templatemo-style.css">
</head>

<body>
  <div class="col-lg-4 col-12 mx-auto">
    <h2 class="tm-text-primary text-center">Register</h2>
    <h6>{{msg}}</h6>
    <form action="{% url 'register' %}" method="POST" class="tm-contact-form mx-auto">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="FirstName" class="form-control rounded-0" placeholder="FirstName" required="">
      </div>
      <div class="form-group">
        <input type="text" name="LastName" class="form-control rounded-0" placeholder="LastName" required="">
      </div>
      <div class="form-group">
        <input type="email" name="Email" class="form-control rounded-0" placeholder="Email" required="">
      </div>
      <div class="form-group">
        <input type="tel" name="Phone" class="form-control rounded-0" placeholder="Phone" required="">
      </div>
      <div class="form-group">
        <input type="password" name="Password" class="form-control rounded-0" placeholder="Password" required="">
      </div>
      <div class="form-group">
        <input type="password" name="CPassword" class="form-control rounded-0" placeholder="Confirm Password"
          required="">
      </div>
      <div class="form-group text-center">
        <a class="tm-text-primary" href="{% url 'login' %}">Allredy Have Account..? Login</a>
      </div>
      <div class="form-group text-center tm-text-right">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</body>

</html>